body 
{
    margin: 0;
    background-color: rgb(4, 4, 85);
}
h1 
{ 
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: rgb(252, 252, 226);
    font-size: medium;
}
h2 
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: rgb(252, 252, 226);
    font-size: small;
}
p 
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    color: rgb(252, 252, 226);
    font-size: smaller;
}
    
